body {
	// Menu CSS
	#app {
		height: 100%;
		min-height: 100vh;
		margin: 0;
		width: 100%;
	}
	.min-h-full {
		min-height: 100vh;
	}
	.home {
		height: 100%;
		width: 100%;
	}
	.desktop-display-flex {
		@include desktop {
			display: flex;
		}
	}
	.green-div {
		background: #166D43;
	}
	.normal-button {
		background: #f5e2b2;
		border-radius: 10px !important;
	}
	.white-space-no-wrap{
		// white-space: nowrap;
		@include mobile {
			white-space: normal;
		}
	}
	.hide-mobile-view{
		display: initial;
		@include mobile {
			display: none;
		}
	}
	.show-mobile-view{
		display: none;
		@include mobile {
			display: initial;
		}
	}

	//font Control
	.font-size-128 {
		font-weight: 900;
		font-size: 6.67vw;
		color: #01472a;
		@include mobile {
			font-size: 50px;
		}
	}

	.font-size-96 {
		font-weight: 900;
		font-size: 5vw ;
		color: #01472a;
		@include mobile {
			font-size: 40px;
		}
	}

	.font-size-96-green {
		font-weight: 900;
		font-size: 5vw ;
		color: #00ce4c;
		@include mobile {
			font-size: 40px;
		}
	}

	.font-size-96-white {
		font-weight: 900;
		font-size: 5vw ;
		color: #ffffff;
		@include mobile {
			font-size: 40px;
		}
	}

	.font-size-80-white {
		font-weight: 900;
		font-size: 4.16vw;
		color: #ffffff;
		@include mobile {
			font-size: 40px;
		}
	}

	.font-size-64-white {
		font-weight: 900;
		font-size: 3.34vw;
		color: #ffffff;
		@include mobile {
			font-size: 40px;
		}
	}

	.font-size-64-green {
		font-weight: 900;
		font-size: 3.34vw;
		color: #00ce4c;
		@include mobile {
			font-size: 40px;
		}
	}

	.font-size-48-white {
		font-weight: 900;
		font-size: 2.5vw;
		color: #ffffff;
		@include mobile {
			font-size: 40px;
		}
	}

	.font-size-48 {
		font-weight: 700;
		font-size: 2.5vw;
		color: #01472a;
		@include mobile {
			font-size: 40px;
		}
	}
	
	.font-size-40 {
		font-weight: 700;
		font-size: 2.08vw;
		color: #01472a;
		@include mobile {
			font-size: 20px;
		}
	}
	
	.font-size-40-white-400 {
		font-weight: 400;
		font-size: 2.08vw;
		color: #ffffff;
		@include mobile {
			font-size: 20px;
		}
	}

	.font-size-40-white {
		font-weight: 900;
		font-size: 2.08vw;
		color: #ffffff;
		@include mobile {
			font-size: 20px;
		}
	}

	.font-size-30-white {
		font-weight: 900;
		font-size: 2.32vw;
		color: #ffffff;
		@include mobile {
			font-size: 20px;
		}
	}


	.font-size-25 {
		font-weight: 900;
		font-size: 1.302vw;
		color: #01472a;
		@include mobile {
			font-size: 25px;
		}
	}

	.font-size-25-discord {
		font-weight: 700;
		// font-size: 1.302vx;
		font-size: 25px;
		color: #01472a;
		@include mobile {
			font-size: 25px;
		}
	}

	.font-size-24-white {
		font-weight: 900;
		font-size: 1.25vw;
		color: #ffffff;
		@include mobile {
			font-size: 12px;
		}
	}

	.font-size-24-green {
		font-weight: 700;
		font-size: 1.25vw;
		color: #166D43;
		@include mobile {
			font-size: 16px;
		}
	}

	.font-size-24 {
		font-weight: 700;
		font-size: 1.25vw;
		color: #01472a;
		@include mobile {
			font-size: 12px;
		}
	}

	.font-size-20 {
		font-weight: 700;
		font-size: 1.04vw;
		color: #01472a;
		@include mobile {
			font-size: 12px;
		}
	}

	.font-size-20-white {
		font-weight: 900;
		font-size: 1.04vw;
		color: #ffffff;
		@include mobile {
			font-size: 14px;
		}
	}
}
